<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>热门图片</title>
    <link rel="stylesheet" href="css/base.css">
    <link rel="stylesheet" href="css/nav.css">
    <link rel="stylesheet" href="css/share-img.css">
    <script src="js/jquery-3.3.1.js"></script>
   <!-- <script src="js/nav.js"></script>-->
    <script src="js/share-img.js"></script>
    <link rel="shortcut icon" href="../images/favicon.ico" type="image/x-icon">

    <script>
        $(function () {

            $.ajax({
                type:"post",
                url:"/share/img-goods",
               /* data:{
                    src:$this.firstElementChild.getAttribute("src")
                },*/
                dataType:'json',
                success:function (result) {

                    var array = $("img");
                   for(let i = 0;i<array.length;i++){
                       for(let j = 0 ;j<result.length;j++){
                           if($("img")[i].getAttribute("src")==result[j].src){
                               $( $("img")[i].parentElement.parentElement.parentElement.parentElement).addClass('liked');
                           }
                       }

                   }

                }
            })





      $("body").delegate('.likeIcon','click',function () {
          console.log('点了小心心了');
          let $this2 = this;
          console.log($this2.parentElement.parentElement.previousElementSibling.firstElementChild.firstElementChild.getAttribute("src"));
          $.ajax({
              type:"post",
              url:"/share/imggoods",
              data:{
                  src:$this2.parentElement.parentElement.previousElementSibling.firstElementChild.firstElementChild.getAttribute("src")
              },
              dataType:'json',
              success:function (result) {
                  console.log(result)
              }
          })
      })
        })
    </script>
</head>
<body>

<nav class="navTop">
           <div class="nav-in">
                    <span class="brand">
                    <a href="#"><img src="../images/logo.jpg" alt=""></a>
           </span>
                  <ul class="navTab">
                      <li><a href="/index">首页</a></li>
                      <li><a href="/shareArea">图片</a></li>
                      <li><a href="/share/share-video">视频</a></li>
                            <li><a href="/share/share-diary">阅读</a></li>
                        </ul>
                   <div class="navRight">
                           <a href="/login" class="login">登陆/注册</a>
                            <ul>
                                    <li class="head"><img src=<%= user[0].uimg%> alt=""></li>
                                    <li class="nickName"><%= user[0].Nickname%></li>
                                   <li class="line">|</li>
                                    <li><a href="/login">退出登陆</a></li>
                                    <li><a href="/message">消息通知</a></li>
                                 <li><a href="/filePublish">内容发布</a></li>
                                  <li><a href="/test">个人空间</a></li>
                            </ul>
                   </div>
               </div>
      </nav>




<div class="main">
    <div class="mainTop">
        <ul class="sortRule">
            <li ><a style="text-decoration: none;display:block;width: 100%;height: 100%;" href="/shareArea">浏览最多</a></li>
            <li><a  style="text-decoration: none;display:block;width: 100%;height: 100%;" href="/shareAreaGoods">点赞最多</a></li>
            <li ><a style="text-decoration: none;display:block;width: 100%;height: 100%;" href="/shareAreaDate">最新发布</a></li>
        </ul>
    </div>
    <div class="mainBottom">
        <ul class="imageList">

            <% for(var i in image){ %>

                <li class="imageBox">
                    <div class="imageBox-in">
                        <div class="box">
                            <a class="read-more" href="/share/image/?src=<%= image[i].src%>" target="_blank"><img src=<%= image[i].src%> alt=""></a>
                        </div>
                        <div class="bottomInfo">
                            <div class="infoTop">
                            <span class="publisher">
                                <span class="head">
                                    <img src=<%= image[i].uimg%> alt="">
                                </span>
                                <span class="nickName">
                                    <a href="/userPage?<%= image[i].name%>" target="_blank"><%= image[i].Nickname%></a>
                                </span>
                            </span>
                                <span class="likeIcon" id="likeIcon"></span>
                            </div>
                            <div class="data">
                                <span class="lookNum"><%= image[i].liulan%></span> 次浏览 | 评论:
                                <span class="comNum"><%= image[i].views%></span> | 喜欢:
                                <span class="likeNum"><%= image[i].goods%></span>
                            </div>
                        </div>
                    </div>
                </li>

            <% } %>





        </ul>
    </div>
</div>
</body>
</html>


