<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>个人设置</title>
    <link rel="stylesheet" href="css/base.css">
    <link rel="stylesheet" href="fonts/iconfont.css">
    <link rel="stylesheet" href="css/nav.css">
    <link rel="stylesheet" href="css/userSet.css">
    <script src="js/jquery-3.3.1.js"></script>
    <script src="js/userSet.js"></script>
</head>
<body>

<nav class="navTop">
    <div class="nav-in">
                    <span class="brand">
                   <a href="#"><img src="../images/logo.jpg" alt=""></a>
           </span>
        <ul class="navTab">
            <li><a href="/index">首页</a></li>
            <li><a href="/shareArea">图片</a></li>
            <li><a href="/share/share-video">视频</a></li>
            <li><a href="/share/share-diary">阅读</a></li>
        </ul>
        <div class="navRight">
            <a href="/login" class="login">登陆/注册</a>
            <ul>
                <li class="head"><img src=<%= user[0].uimg%> alt=""></li>
                <li class="nickName"><%= user[0].Nickname%></li>
                <li class="line">|</li>
                <li><a href="/login">退出登陆</a></li>
                <li><a href="/message">消息通知</a></li>
                <li><a href="/filePublish">内容发布</a></li>
                <li><a href="/test">个人空间</a></li>
            </ul>
        </div>
    </div>
</nav>


    <div class="main">
        <form action="/test/setData" method="post" enctype="multipart/form-data">
            <!--主页的背景图片-->
            <div class="mainTop " style="position:relative;background-image: url(<%= user[0].Bgimg%>)">
                <img style="position: absolute;width: 100%;height: 100%" src=<%= user[0].Bgimg%> alt="">
            <span class="bgUpload">
                <i class="iconfont icon-05 "></i>设置背景图片
                <input type="file" name="bgImg" accept="image/*">
            </span>
            </div>
            <div class="mainBottom">
                <div class="mainLeft">
                    <div class="headUpload">
                        <img src=<%= user[0].uimg%> alt="">
                        <div class="cover">
                            <i class="iconfont icon-05"></i>修改头像
                            <input type="file" name="head" accept="image/*">
                        </div>
                    </div>
                </div>
                <div class="mainRight">
                    <div class="nickName">
                        <label for="nickName">昵称:</label>
                        <input type="text" name="nickName" id="nickName" value=<%= user[0].Nickname%> max="12">
                    </div>
                    <div class="gender">
                        <label for="gender">性别:</label>
                        <select name="gender" id="gender">
                            <option value="male">男</option>
                            <option value="female">女</option>
                            <option value="secret" selected="selected">保密</option>
                        </select>
                    </div>
                    <div class="birthday">
                        <label for="birthday">生日:</label>
                        <input type="date" name="birthday" id="birthday" value=<%= user[0].birth%>>
                    </div>
                    <div class="email">
                        <label for="email">邮箱:</label>
                        <input type="email" name="email" id="email" value=<%= user[0].email%>>
                    </div>
                    <div class="phoneNum">
                        <label for="phoneNum">电话:</label>
                        <input type="text" name="phoneNum" id="phoneNum" value=<%= user[0].phone%>>
                    </div>
                    <div class="intro">
                        <label for="intro">简介:</label>
                        <textarea name="intro" id="intro" cols="30" rows="10" maxlength="100"><%= user[0].qianming%></textarea>
                    </div>
                    <p class="warning">注意 : 只有确认修改之后, 信息才会成功修改!</p>
                    <div class="controlBtn">
                        <input type="reset" value="取消">
                        <input type="submit" value="确认修改">
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div class="hint">
        <div>
            <img src="images/hint-ok.png" alt="">
        </div>
        <p></p>
    </div>
</body>
</html>