<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>视频播放</title>
    <link rel="stylesheet" href="../../css/base.css">
    <link rel="stylesheet" href="../../css/jquery.mCustomScrollbar.min.css">
    <link rel="stylesheet" href="../../css/nav.css">
    <link rel="stylesheet" href="../../css/video.css">
    <script src="../../js/jquery-3.3.1.js"></script>
    <script src="../../js/jquery.mCustomScrollbar.js"></script>
    <!--<script src="../../js/nav.js"></script>-->
    <script src="../../js/imageAndVideo.js"></script>
    <script>
        $(function () {
            //判断视频是否已经点赞了
            var video = document.getElementById('img');
            var like =$('#like');
            $.ajax({
                type:"post",
                url:"/share/video-goods",
                data:{
                    src:video.getAttribute("src")
                 },
                dataType:'json',
                success:function (result) {
                    if(result.code==true){
                       $('.main').addClass('liked')
                    }else{
                        $('.main').removeClass('liked')
                    }
                }
            })


            //判断评论是不是自己的
            $.ajax({
                type:"post",
                url:"/test/videocomment-panduan",
                data:{
                    src:$('#img').attr("src"),
                },
                dataType:'json',
                success:function (result) {
                    console.log(result);
                   for(let i = 0;i<result[1];i++){
                       var index = $($("li .nickName")[i].innerHTML).attr('href').indexOf('?');
                        if( $($("li .nickName")[i].innerHTML).attr('href').substr(index+1)==result[0]){
                            $( $(".comment .a1")[i]).css({
                                display:"block"
                            });
                        }
                    }
                }
            })




            //点击评论插视频评论表
            $(".send").click(function () {
                console.log('发表评落了');

                $.ajax({
                    type:"post",
                    url:"/test/videocomment",
                    data:{
                        src:$('#img').attr("src"),
                        views:$("#textareas").val(),
                    },
                    dataType:'json',
                    success:function (result) {
                        window.location.reload(true);
                    }
                })

            })
            //点赞插视频点赞表
             $("body").delegate('.likeNum','click',function () {
                 console.log('点了小心心了');
                 var video = document.getElementById('img');
                 console.log(video);
                 $.ajax({
                     type:"post",
                     url:"/share/videogoods",
                     data:{
                         src:video.getAttribute("src")
                     },
                     dataType:'json',
                     success:function (result) {
                         console.log(result)
                     }
                 })

             })
         })
    </script>
</head>
<body>

<nav class="navTop">
           <div class="nav-in">
                    <span class="brand">
                    <a href="#"><img src="../../images/logo.jpg" alt=""></a>
           </span>
                  <ul class="navTab">
                      <li><a href="/index">首页</a></li>
                      <li><a href="/shareArea">图片</a></li>
                      <li><a href="/share/share-video">视频</a></li>
                            <li><a href="/share/share-diary">阅读</a></li>
                        </ul>
                   <div class="navRight">
                           <a href="/login" class="login">登陆/注册</a>
                            <ul>
                                    <li class="head"><img src=<%='../'+ user[0].uimg%> alt=""></li>
                                    <li class="nickName"><%= user[0].Nickname%></li>
                                   <li class="line">|</li>
                                    <li><a href="/login">退出登陆</a></li>
                                    <li><a href="/message">消息通知</a></li>
                                 <li><a href="/filePublish">内容发布</a></li>
                                  <li><a href="/test">个人空间</a></li>
                            </ul>
                   </div>
               </div>
      </nav>

    <div class="main">
        <div class="mainLeft">
            <div class="videoTop">
                <p class="videoTitle">
                   <%= video[0].title%>
                </p>
                <div class="publisher">
                    <div class="head">
                        <img src=<%='../'+video[0].uimg%> alt="">
                    </div>
                    <div class="publisherRight">
                        <p class="nickName">
                            <a href="/userPage?<%= video[0].uname%>">  <%= video[0].Nickname%></a>
                        </p>
                        <p class="date">  <%= video[0].date%></p>

                    </div>
                    <span class="likeNum" id="like">
                             <%= video[0].goods%>
                    </span>
                </div>
            </div>
            <div class="video">
                <video id="img" src=  <%= video[0].src%> controls></video>
            </div>
            <div class="videoBottom"></div>
        </div>
        <div class="commentArea">
            <div class="commentSend">
                <div>
                    <textarea id="textareas" name="" id="" maxlength="300" cols="30" rows="10" placeholder="说点什么吧~"></textarea>
                </div>

                <div><button class="send">发表评论</button></div>
            </div>
            <div class="commentsShow ">
                <div class="title">
                    评论 <span>(0)</span>
                </div>
                <div class="comments scrollY">
                    <ul class="commentsList">
                        <% for(var i in videocomment){ %>
                        <li class="comment">
                            <div class="commentTop">
                                <div class="commentTopLeft">
                                    <div class="head">
                                        <img src=<%='../'+ videocomment[i].uimg%> alt="">
                                    </div>
                                    <div>
                                        <p class="nickName"><a href="/userPage?<%= videocomment[i].name%>"><%= videocomment[i].Nickname%></a></p>
                                        <p class="date"><%= videocomment[i].date%></p>
                                    </div>
                                </div>
                                <div class="commentTopRight">
                                    <a href="javascript:;" class="comReport a2">举报</a>
                                    <a href="javascript:;" class="comDelete2 a1">删除</a>
                                </div>
                            </div>
                            <div class="commentContent">
                                <p>
                                    <%= videocomment[i].views%>
                                </p>
                            </div>
                        </li>

                            <% } %>
                    </ul>
                </div>
            </div>
            <p class="noCom">欢迎您发出第一条评论</p>
        </div>
        <div class="confirm">
            <div>
                <img src="images/confirm-img.png" alt="">
            </div>
            <p></p>
            <div class="btnGroup">
                <span>取消</span>
                <span>确认</span>
            </div>
        </div>
        <div class="hint">
            <div>
                <img src="../images/hint-ok.png" alt="">
            </div>
            <p></p>
        </div>
    </div>
</body>
</html>